<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sn.lobtool.mapper.DailySalesEntryMapper">

  <select id="getDailySalesEntries" resultType="DailySalesEntry">
    SELECT strftime('%Y-%m-%d',BillTime) as billDate, 
           count(*) as numOfBill, 
           round(SUM(PaidFee),2) as totalAmount, 
           SUM(Persons) as numOfCust, 
           round((round(SUM(PaidFee),2)/SUM(Persons)),2) as billPerCust 
    FROM MhtBill
    WHERE 1 = 1 and 
        billDate &lt; date(#{param2}, '+1 day') and 
        billDate &gt; date(#{param2},'-7 day') 
    GROUP BY date(BillTime)
    ORDER BY date(BillTime) ASC
  </select>
  
  <select id="getPaymentMethods4Chart" resultType="PaymentMethods">
    SELECT bp.PayMethodId as payMethodId,
           count(*) as numOfTrans,
           pm.Name as payMethodName
    FROM MhtBill b
        left join BillPayDetail bp on b.BillId=bp.BillId 
        left join PayMethod pm on bp.PayMethodId=pm.PayMethodId 
    WHERE strftime("%Y-%m-%d",b.BillTime) = #{param1} 
    GROUP BY bp.PayMethodId
  </select>
  
  <select id="getSalesAmount4TimeChart" resultType="TimeChartEntries">
    SELECT c.name as seqName, 
           round(sum(b.PaidFee),2) as amount 
    FROM MhtBill b
    LEFT JOIN BusinessTimePart c 
       ON b.BusinessTimePartId=c.BusinessTimePartId
    WHERE strftime("%Y-%m-%d",b.BillTime)=#{param1}
    GROUP BY b.BusinessTimePartId
    ORDER BY b.BusinessTimePartId
  </select>
  
  <select id="getCustAmount4TimeChart" resultType="TimeChartEntries">
    SELECT c.name as seqName, 
           sum(b.Persons) as amount
    FROM MhtBill b 
    LEFT JOIN BusinessTimePart c
        ON b.businessTimePartId = c.businessTimePartId 
    WHERE strftime("%Y-%m-%d",b.BillTime) = #{param1}
    GROUP BY b.businessTimePartId
    ORDER BY b.businessTimePartId
  </select>
  
  <select id="getBillPerCust4TimeChart" resultType="TimeChartEntries">
    SELECT c.name as seqName, 
           round(sum(b.PaidFee),2)/sum(b.Persons) as amount 
    FROM MhtBill b 
    LEFT JOIN BusinessTimePart c 
        ON b.businessTimePartId = c.businessTimePartId 
    WHERE strftime("%Y-%m-%d",b.BillTime) = #{param1}
    GROUP BY b.businessTimePartId
    ORDER BY b.businessTimePartId
  </select>

</mapper>